body {
    background-color: black;
    color: aliceblue;
    font-size: x-large;
    align-items: center;
    margin: 0 auto;

}


.principal {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size:10rem;
    color: black;
    margin: 0 auto;
    border-radius: 50px;
    & h1{
        font-size: 10rem !important;
    }
}


.secundaria {
    background-color: beige;
    text-align: center;
    align-items: center;
    font-size: medium;
    color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
}


.imagenes {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    box-shadow: inset;
    transition: transform 0.3s ease;
    /* Transición para animación */
}


.cartelera {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas iguales */
    grid-gap: 10px;
    /* Espacio entre las imágenes */
    justify-content: center;
    /* Centrar el contenido horizontalmente */
    margin-top: 60px;
    margin-bottom: 60px;
}

.imagenes:hover {
    transform: scale(1.1);
    /* Escalar la imagen al pasar el cursor sobre ella */
}


.pelicula {
    border: 1px solid #ccc;
    /* Marco alrededor de la película */
    border-radius: 20px;
    /* Bordes redondeados */
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
    /* Transición para animación */
}

.pelicula:hover {
    transform: scale(1.04);
    /* Escalar la película al pasar el cursor sobre ella */
}

.info {
    text-align: center;
}

.info h2 {
    font-size: 1.2em;
}

.info p {
    font-size: 0.9em;
}

.info ul {
    list-style-type: none;
    padding: 0;
}

.info ul li {
    margin: 5px 0;
}



/* Estilos para el título del modal */
.modal-title {
    font-size: 1.5rem; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

/* Estilos para el botón de cerrar el modal */
.btn-close {
    color: #aaa; /* Color del icono del botón */
    font-size: 1.5rem; /* Tamaño del icono */
    opacity: 0.7; /* Opacidad del icono */
    transition: opacity 0.3s; /* Transición de opacidad */
}

/* Cambio de opacidad al pasar el cursor sobre el botón de cerrar */
.btn-close:hover {
    opacity: 1;
}

/* Estilos para el formulario dentro del modal */
#purchaseForm {
    margin-bottom: 0; /* Elimina el margen inferior del formulario */
}

/* Estilos para las etiquetas del formulario */
label {
    display: block; /* Muestra las etiquetas en una línea separada */
    margin-bottom: 5px; /* Espacio inferior entre las etiquetas y los campos de entrada */
    font-weight: bold; /* Texto en negrita */
    color: #333;
}

/* Estilos para los campos de entrada del formulario */
input[type="text"],
input[type="number"] {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 0.5rem; /* Relleno interno */
    margin-bottom: 10px; /* Espacio inferior */
    border: 1px solid #ccc; /* Borde del campo de entrada */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Tamaño total del elemento incluyendo el borde */
}

/* Estilos para el botón de cancelar del modal */
.btn-secondary {
    background-color: #aaa; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.5rem 1rem; /* Relleno interno */
    margin-right: 10px; /* Margen derecho */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Cambio de color de fondo al pasar el cursor sobre el botón de cancelar */
.btn-secondary:hover {
    background-color: #888;
}

/* Estilos para el botón de comprar del modal */
.btn-primary {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.5rem 1rem; /* Relleno interno */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Cambio de color de fondo al pasar el cursor sobre el botón de comprar */
.btn-primary:hover {
    background-color: #0056b3;
}


