/* Estilos generales */
body {
    background-color: #f8f9fa; /* Gris claro */
    color: #495057; /* Gris oscuro */
}

.principal {
    background-color: #343a40; /* Gris oscuro para el div principal */
    color: #ffffff; /* Blanco para el texto dentro de principal */
    padding: 20px;
    text-align: center;
}

.secundaria {
    margin-top: 20px;
}

.cartelera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pelicula {
    background-color: #ffffff; /* Blanco para el fondo del cuadro de la película */
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

/* Estilos para la modal */
.modal-content {
    background-color: #f8f9fa; /* Gris claro para el fondo de la modal */
    color: #495057; /* Gris oscuro para el texto dentro de la modal */
}

/* Botones de la modal */
.btn-primary {
    background-color: #343a40; /* Gris oscuro para el botón principal */
    border-color: #343a40; /* Borde del botón principal */
}

.btn-primary:hover {
    background-color: #212529; /* Gris más oscuro al pasar el ratón sobre el botón principal */
    border-color: #212529;
}

/* Ajuste de estilos para las imágenes */
.imagenes {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
