<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Proyecto/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ cartelera.php/$1 [L]
</IfModule>
